<h1 class="ui monster section dividing header">
    <div class="content">
        <i class="circular cart icon"></i>
        {{ marketingCart.name }}

        <div class="sub header">
            <div class="ui horizontal">
                {{ marketingCart.description|raw }}
            </div>
        </div>
    </div>
</h1>
