{% if marketing_carts|length == 4 %}
    {% set columns = "two" %}
{% endif %}
{% if marketing_carts|length == 3 %}
    {% set columns = "three odd doubling" %}
{% endif %}

<div class="ui {{ columns|default('') }} cards">
    {% for marketingCart in marketing_carts %}
        {% include '@AsdoriaSyliusMarketingCartPlugin/Shop/MarketingCart/_box.html.twig' %}
    {% endfor %}
</div>
