{% extends '@SyliusShop/layout.html.twig' %}
{% block content %}
    {% include '@AsdoriaSyliusMarketingCartPlugin/Shop/MarketingCart/_header.html.twig' %}
    <div class="ui stackable grid">
        <div class="sixteen wide column">
            {% set path = path('asdoria_marketing_shop_marketing_cart_show', app.request.attributes.get('_route_params')) %}
            {% set criteria = app.request.query.get('criteria') %}
            {% set definition = products.definition %}
            {% include '@AsdoriaSyliusMarketingCartPlugin/Shop/Product/Index/_main.html.twig' %}
        </div>
    </div>
{% endblock %}
