{% form_theme form '@AsdoriaSyliusMarketingCartPlugin/Admin/Form/imagesTheme.html.twig' %}

<div class="ui tab" data-tab="media">
    <h3 class="ui dividing header">{{ 'sylius.ui.media'|trans }}</h3>
    <br>
    {{ form_row(form.images, {'label': false}) }}

    {{ sonata_block_render_event('asdoria_marketing.admin.marketing_cart.' ~ action ~ '.tab_media', {'form': form}) }}
</div>
