{% extends '@SyliusAdmin/Form/theme.html.twig' %}
{% block asdoria_marketing_cart_similar_widget %}
    {% apply spaceless %}
        <div class="ui two column stackable grid">
            <div class="column">
                {{ form_row(form.position) }}
            </div>
            <div class="column">
                {{ form_row(form.similarCart) }}
            </div>
        </div>
        <br/>
    {% endapply %}
{% endblock %}
{% block asdoria_marketing_cart_autocomplete_choice_row %}
    {{ form_row(form, {'remote_url': path('asdoria_admin_ajax_marketing_cart_by_name_phrase'), 'load_edit_url': path('asdoria_admin_ajax_marketing_cart_by_id')}) }}
{% endblock %}
